<div id="banner">
  <div class="banner_content">
    <h1>Автоперевезення в комфортному мікроавтобусі</h1>
    <p>Пежо Експерт Тіппі</p>
    <div class="buttons">
        <button class="round_button"><%= link_to "Переглянути відгуки", comments_path %></button>
    </div>
  </div>
</div>
<div id="testimonial">
  <div class="wrapper">
    <p class="styled_paragraph">Поїздки по Україні, Польщі та інших країнах Європи.</p>
    <p class="styled_paragraph">Обслуговування урочистих подій, екскурсії по Львову, Карпатах.</p>
    <p class="styled_paragraph">Поїздки під замовлення.</p>
    <p class="styled_paragraph_2">До 8 місць + 1 водій</p>
  </div>
</div>
<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2>Переваги</h2>
        <p>Зручні відкидні сидіння, оригінальний салон, кондиціонер, аудіо, відео, просторий багажний відділ</p>
      </div>
      <!--<div class="callout">-->
      <!--<h2>Notes</h2>-->
      <!--<p>Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.</p>-->
      <!--</div>-->
    </div>
  </div>
</div>
<div id="bottom_cta">
  <div class="wrapper">
    <h2>Контакти</h2>
    <div class="contacts">
      <p><%= image_tag "icons/viber.png" %></p>
      <p>067 731 49 17 або +48 88 99 56 551</p>
    </div>
    <div class="buttons">
      <button class="round_button"><%= link_to "Прийом замовлень", new_order_path %></button>
    </div>
  </div>
</div>
