// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content
{
  width: 80%;
  float: right;
  background-color: #EFEFEF;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

#left-bar
{
  width: 180px;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}